In [2]:
import pandas as pd
import numpy as np
import re
import string
import nltk
import matplotlib as plty
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

from sklearn import preprocessing
Encode = preprocessing.LabelEncoder()
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfid = TfidfVectorizer()
vect = CountVectorizer()
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.manifold import TSNE
NB = MultinomialNB()

/usr/local/lib/python3.6/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [6]:
train.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [7]:
train=train.drop(['Browser_Used','Device_Used'],axis=1)
test=test.drop(['Browser_Used','Device_Used'],axis=1)

In [9]:
train.head()

   User_ID                                        Description Is_Response
0  id10326  The room was kind of clean but had a VERY stro...   not happy
1  id10327  I stayed at the Crown Plaza April -- - April -...   not happy
2  id10328  I booked this hotel through Hotwire at the low...   not happy
3  id10329  Stayed here with husband and sons on the way t...       happy
4  id10330  My girlfriends and I stayed here to celebrate ...   not happy

In [11]:
train['Is_Response'].value_counts()

happy        26521
not happy    12411
Name: Is_Response, dtype: int64

In [26]:
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
from wordcloud import WordCloud, STOPWORDS
from nltk.corpus import stopwords
stopwords = stopwords.words("english")

def cloud(text):
    wordcloud = WordCloud(background_color="blue",stopwords=stop).generate(" ".join([i for i in text.str.upper()]))
    plt.imshow(wordcloud)
    plt.axis("off")
    plt.title("Chat Bot Response")
cloud(train['Description'])

In [25]:
plt.show()

In [23]:
train['Label'] = Encode.fit_transform(train['Is_Response'])
train.head()

,User_ID,Description,Is_Response,Label
0,id10326,The room was kind of clean but had a VERY stro...,not happy,1
1,id10327,I stayed at the Crown Plaza April -- - April -...,not happy,1
2,id10328,I booked this hotel through Hotwire at the low...,not happy,1
3,id10329,Stayed here with husband and sons on the way t...,happy,0
4,id10330,My girlfriends and I stayed here to celebrate ...,not happy,1