In [64]:
import pandas as pd
import numpy as np

In [65]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [66]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38932 entries, 0 to 38931
Data columns (total 5 columns):
User_ID         38932 non-null object
Description     38932 non-null object
Browser_Used    38932 non-null object
Device_Used     38932 non-null object
Is_Response     38932 non-null object
dtypes: object(5)
memory usage: 1.5+ MB

In [67]:
train['Description'][84]

'Stayed two nights with DH at this excellent hotel. Platinum upgrade to a gorgeous suite - even the bathroom had a hallway! Comfortable bedding, swank sitting area, spotless bathroom with Bliss products. Common rooms were gorgeous - loved hanging out in the lobby to play checkers, or a drink I guess. We were there during a very quiet time when the rooftop club was closed so room on the --th floor was ok, otherwise staff said they put guests wanting a quiet room on the -th floor so try to book that ahead of time. Location was perfect if you want to visit Hollywood Boulevard sites (you can just walk out the door), Griffith Park, Laugh Factory, and the Hollywood sign are a short drive away.'

In [68]:
def ignore_(word):
    word=word.lower()
    code=["ignor","rude"]
    if any(x in word for x in code):
          return 1
    return 0

In [69]:
def river_(word):
    word=word.lower()
    if "river" in word:
          return 1
    return 0

In [70]:
def bad_(word):
    word=word.lower()
    code=["good","like","love","best","nice"]
    if any(x in word for x in code):
            return 1
    return 0

In [71]:
def night_(word):
    word=word.lower()
    if "night" in word:
        return 1
    return 0

In [72]:
def smoking(word):
    word=word.lower()
    if "smok" in word:
        return 1
    return 0

In [73]:
def price_(word):
    word=word.lower()
    code=["cost","price","rate","charge"]
    if any(x in word for x in code):
        if "low" in word:
            return 0
        elif "high" in word:
            return 2
    return 1

In [74]:
def comfort_(word):
    word=str(word.lower())
    if "comfort" in word:
        return 1
    return 0

In [75]:
def child_(word):
    word=word.lower()
    code=["son","daughter","child","kid"]
    if any(x in word for x in code):
        return 1
    return 0

In [76]:
def room_(word):
    word=word.lower()
    code=["clean","nice","perfect"]
    if any(x in word for x in code):
        return 1
    return 0

In [77]:
def relation_(word):
    word=word.lower()
    code=["boyfriend","girlfriend","wife","husband","hubby"]
    if any(x in word for x in code):
        return 1
    return 0

In [78]:
def staff_(word):
    word=word.lower()
    code=["best","friend","help","excellent"]
    if "staff" in word:
        if any(x in word for x in code):
             return 1
    return 0

In [79]:
def service_(word):
    word=word.lower()
    code=["great","good","nice"]
    if "serv" in word:
        if any(x in word for x in code):
             return 1
    return 0

In [80]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38932 entries, 0 to 38931
Data columns (total 5 columns):
User_ID         38932 non-null object
Description     38932 non-null object
Browser_Used    38932 non-null object
Device_Used     38932 non-null object
Is_Response     38932 non-null object
dtypes: object(5)
memory usage: 1.5+ MB

In [81]:
browser=['Chrome','Edge','Firefox','Google Chrome','IE','Internet Explorer','InternetExplorer','Mozilla','Mozilla Firefox','Opera','Safari']

In [82]:
'''
for df in train,test:
    for key, value in zip(browser,range(len(browser))):
        df.loc[df['Browser_Used'] == key, "Browser_Used"] = int(value)
    df.Browser_Used=df.Browser_Used.astype(int) 
'''       
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38932 entries, 0 to 38931
Data columns (total 5 columns):
User_ID         38932 non-null object
Description     38932 non-null object
Browser_Used    38932 non-null object
Device_Used     38932 non-null object
Is_Response     38932 non-null object
dtypes: object(5)
memory usage: 1.5+ MB

In [83]:
#res=train['Is_Response']
#train=train.drop(['Is_Response'],axis=1)
#train.head()

In [84]:
response=['not happy','happy']
for key,value in zip(response,(0,1)):
        train.loc[train['Is_Response'] == key, 'Is_Response'] = int(value)
train.Is_Response=train.Is_Response.astype(int)

In [85]:
'''device=['Desktop','Mobile','Tablet']
for df in train,test:
    for key, value in zip(device,range(len(device))):
        df.loc[df['Device_Used'] == key, "Device_Used"] = int(value)
    df.Device_Used=df.Device_Used.astype(int) 
'''   
train=train.drop(['Device_Used','Browser_Used'],axis=1)
test=test.drop(['Device_Used','Browser_Used'],axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38932 entries, 0 to 38931
Data columns (total 3 columns):
User_ID        38932 non-null object
Description    38932 non-null object
Is_Response    38932 non-null int64
dtypes: int64(1), object(2)
memory usage: 912.5+ KB

In [86]:
for df in train,test:
    smoke,price,comfort,child,room,relation,staff,service=[],[],[],[],[],[],[],[]
    ignore,bad,night,noice,visit,river=[],[],[],[],[],[]
    for i in range(len(df)):
        smoke.append(smoking(df['Description'][i]))
        comfort.append(comfort_(df['Description'][i]))
        price.append(price_(df['Description'][i]))
        child.append(child_(df['Description'][i]))
        room.append(room_(df['Description'][i]))
        relation.append(relation_(df['Description'][i]))
        staff.append(staff_(df['Description'][i]))
        service.append(service_(df['Description'][i]))
        ignore.append(ignore_(df['Description'][i]))
        bad.append(ignore_(df['Description'][i]))
        night.append(night_(df['Description'][i]))
        river.append(river_(df['Description'][i]))
    df['smoke']=pd.DataFrame(smoke) 
    df['comfort']=pd.DataFrame(comfort) 
    df['price']=pd.DataFrame(price) 
    df['child']=pd.DataFrame(child) 
    df['room']=pd.DataFrame(room) 
    df['relation']=pd.DataFrame(relation) 
    df['staff']=pd.DataFrame(staff) 
    df['service']=pd.DataFrame(service) 
    df['ignore']=pd.DataFrame(ignore) 
    df['bad']=pd.DataFrame(bad) 
    df['night']=pd.DataFrame(night)
    df['river']=pd.DataFrame(river)

test.head()

,User_ID,Description,smoke,comfort,price,child,room,relation,staff,service,ignore,bad,night,river
0,id80132,Looking for a motel in close proximity to TV t...,0,0,1,0,0,0,0,0,0,0,0,0
1,id80133,Walking distance to Madison Square Garden and ...,0,0,1,1,1,0,1,0,0,0,0,0
2,id80134,Visited Seattle on business. Spent - nights in...,0,0,1,0,1,0,0,1,0,0,1,0
3,id80135,This hotel location is excellent and the rooms...,0,0,1,0,1,0,1,0,0,0,0,0
4,id80136,This hotel is awesome I love the service Antho...,0,0,1,1,1,0,0,1,0,0,0,0

In [87]:
train=train.drop(['User_ID','Description'],axis=1)
test=test.drop(['Description'],axis=1)

In [88]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38932 entries, 0 to 38931
Data columns (total 13 columns):
Is_Response    38932 non-null int64
smoke          38932 non-null int64
comfort        38932 non-null int64
price          38932 non-null int64
child          38932 non-null int64
room           38932 non-null int64
relation       38932 non-null int64
staff          38932 non-null int64
service        38932 non-null int64
ignore         38932 non-null int64
bad            38932 non-null int64
night          38932 non-null int64
river          38932 non-null int64
dtypes: int64(13)
memory usage: 3.9 MB

In [89]:
from sklearn.ensemble import RandomForestClassifier
x_train=train.drop(['Is_Response'], axis=1)
y_train_=train['Is_Response']
x_train

,smoke,comfort,price,child,room,relation,staff,service,ignore,bad,night,river
0,0,0,0,0,1,0,0,0,0,0,1,0
1,0,1,2,1,0,0,1,0,0,0,0,0
2,1,0,0,1,0,0,1,1,0,0,0,0
3,0,0,1,1,1,1,0,1,0,0,0,0
4,0,0,1,1,1,1,0,0,0,0,1,0
5,0,0,1,0,1,0,0,0,0,0,0,0
6,0,0,1,0,1,1,0,0,0,0,0,0
7,0,0,1,1,1,1,1,0,0,0,0,0
8,0,0,1,0,0,1,0,0,0,0,1,0
9,0,0,2,0,0,0,0,0,0,0,0,0
10,0,0,1,0,1,0,0,0,0,0,1,0
11,0,0,1,1,1,1,0,1,0,0,0,1
12,0,0,1,1,1,0,1,0,0,0,1,0
13,0,1,1,0,1,0,0,0,0,0,0,0
14,0,0,1,0,1,0,0,0,0,0,0,0
15,0,1,1,0,1,0,1,0,0,0,1,0
16,0,1,0,0,0,0,0,0,0,0,1,0
17,0,0,1,1,0,0,0,0,0,0,0,0
18,0,0,1,1,1,0,1,0,0,0,1,0
19,0,0,0,1,1,0,0,1,0,0,0,0
20,0,0,2,0,0,0,1,1,1,1,1,0
21,0,0,1,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,1,0,0,0,0,1,0
23,0,1,1,0,1,0,1,1,0,0,0,0
24,0,1,2,0,0,1,1,0,0,0,0,0
25,0,1,0,1,1,0,0,0,0,0,1,0
26,0,0,1,0,1,0,1,1,0,0,0,0
27,0,1,1,0,1,1,1,1,0,0,0,0
28,0,0,1,0,1,0,1,0,0,0,0,0
29,0,1,0,0,1,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
38902,0,0,1,0,1,0,0,0,0,0,0,0
38903,0,1,1,0,1,0,0,0,1,1,1,0
38904,0,0,1,0,1,0,0,0,0,0,0,0
38905,0,0,1,1,0,0,0,1,0,0,1,0
38906,0,0,1,0,1,0,0,1,0,0,0,0
38907,0,1,1,0,1,0,1,0,0,0,0,0
38908,0,1,1,1,1,0,0,1,0,0,0,0
38909,0,0,1,0,0,0,0,0,0,0,1,0
38910,0,0,1,0,1,0,0,0,0,0,1,0
38911,1,1,1,0,1,0,0,0,0,0,0,1
38912,0,0,1,1,0,0,1,0,0,0,0,0
38913,0,0,1,0,1,0,0,0,0,0,0,0
38914,0,0,1,1,1,1,0,1,0,0,1,0
38915,0,0,1,0,0,0,0,1,0,0,0,0
38916,0,1,1,0,1,0,0,1,0,0,1,0
38917,0,1,1,1,0,0,0,0,0,0,0,0
38918,0,0,1,1,1,0,0,1,0,0,0,0
38919,0,0,1,0,0,0,0,0,0,0,0,0
38920,0,0,1,0,1,1,1,0,0,0,1,0
38921,0,0,1,1,1,0,0,1,0,0,0,0
38922,0,0,1,1,0,0,0,0,0,0,1,0
38923,0,0,1,1,1,0,0,0,0,0,1,0
38924,0,0,1,0,0,0,0,0,0,0,0,1
38925,0,0,1,0,0,0,1,0,0,0,0,0
38926,0,0,0,1,0,1,1,1,0,0,1,0
38927,0,0,1,0,1,0,0,0,0,0,1,0
38928,0,0,1,0,1,0,0,0,0,0,0,0
38929,0,0,1,0,1,0,0,1,1,1,0,0
38930,1,0,1,0,0,0,0,0,0,0,0,0
38931,0,0,1,0,0,0,0,0,0,0,0,0

In [90]:


clf = RandomForestClassifier(n_estimators=200,n_jobs=-1, random_state=0)
clf.fit(x_train,train['Is_Response'])
prediction = clf.predict(test.drop("User_ID", axis=1))

In [91]:

submission=pd.DataFrame({'User_ID':test['User_ID']})
submission['Is_Response']=pd.DataFrame(prediction)
for key, value in zip((0,1),response):
        submission.loc[submission['Is_Response'] == key, "Is_Response"] = value
submission

        User_ID Is_Response
0       id80132       happy
1       id80133       happy
2       id80134       happy
3       id80135       happy
4       id80136       happy
5       id80137       happy
6       id80138       happy
7       id80139   not happy
8       id80140       happy
9       id80141   not happy
10      id80142       happy
11      id80143   not happy
12      id80144       happy
13      id80145   not happy
14      id80146       happy
15      id80147       happy
16      id80148       happy
17      id80149       happy
18      id80150       happy
19      id80151       happy
20      id80152       happy
21      id80153   not happy
22      id80154       happy
23      id80155       happy
24      id80156       happy
25      id80157       happy
26      id80158       happy
27      id80159       happy
28      id80160       happy
29      id80161       happy
...         ...         ...
29374  id109506       happy
29375  id109507       happy
29376  id109508       happy
29377  id109509       happy
29378  id109510       happy
29379  id109511       happy
29380  id109512       happy
29381  id109513       happy
29382  id109514   not happy
29383  id109515       happy
29384  id109516       happy
29385  id109517       happy
29386  id109518       happy
29387  id109519   not happy
29388  id109520       happy
29389  id109521       happy
29390  id109522       happy
29391  id109523   not happy
29392  id109524       happy
29393  id109525       happy
29394  id109526       happy
29395  id109527   not happy
29396  id109528       happy
29397  id109529       happy
29398  id109530       happy
29399  id109531       happy
29400  id109532       happy
29401  id109533       happy
29402  id109534       happy
29403  id109535       happy

[29404 rows x 2 columns]

In [92]:
submission.to_csv('submission.csv',index=False)